{% extends 'base.html' %}

{% block content %}
    <!--
    <div>
        {% for birepjour in BiRepJours %}
            <p>{{ birepjour.descript }}</p>
        {% endfor %}
    </div>
    -->
<div class="d-flex flex-column flex-md-row align-items-center p-3 px-md-4 mb-3 bg-white border-bottom shadow-sm">
  <h5 class="my-0 mr-md-auto font-weight-normal">锦江都城数据仪表板</h5>
  <nav class="my-2 my-md-0 mr-md-3">
    <a class="p-2 text-dark" href="#">汇总</a>
    <a class="p-2 text-dark" href="#">白玉兰品牌</a>
    <a class="p-2 text-dark" href="#">都城品牌</a>
    <a class="p-2 text-dark" href="#">锦江之星品牌</a>
  </nav>
</div>

<div class="container">
  <div class="card-deck mb-3 text-center">

    <div class="card mb-4 shadow-sm">
      <div id="bar" class="card-body"></div>
    </div>

    <div class="card mb-4 shadow-sm">
       <div id="pie" class="card-body"></div>
    </div>

    <div class="card mb-4 shadow-sm">
      <div class="card-header">
        <h4 class="my-0 font-weight-normal">Enterprise</h4>
      </div>
      <div class="card-body">
        <h1 class="card-title pricing-card-title">$29 <small class="text-muted">/ mo</small></h1>
        <ul class="list-unstyled mt-3 mb-4">
          <li>30 users included</li>
          <li>15 GB of storage</li>
          <li>Phone and email support</li>
          <li>Help center access</li>
        </ul>
        <button type="button" class="btn btn-lg btn-block btn-primary">Contact us</button>
      </div>
    </div>
  </div>
</div>

    <!--<div id="bar" style="width:1000px; height:600px;"></div>-->
    <script>
        var chart = echarts.init(document.getElementById('bar'), 'white', {renderer: 'canvas'});

        $(
            function () {
                fetchData(chart);
                setInterval(fetchData, 20000);
            }
        );

        function fetchData() {
            $.ajax({
                type: "GET",
                url: "/barChart",
                dataType: 'json',
                success: function (result) {
                    chart.setOption(result);
                }
            });
        }

        var piechart = echarts.init(document.getElementById('pie'), 'white', {renderer: 'canvas'});
        $(
            function () {
                fetchData(piechart);
                setInterval(pieFetchData, 20000);
            }
        );

        function pieFetchData() {
            $.ajax({
                type: "GET",
                url: "/pieChart",
                dataType: 'json',
                success: function (result) {
                    piechart.setOption(result);
                }
            });
        }

    </script>
{% endblock %}